.DS_Store
*/.build
*/Packages
*/*.xcodeproj
*/xcuserdata/
*/DerivedData/
*/.swiftpm
*/.netrc
!SampleSymbolGraphProject/.build/
SampleSymbolGraphProject/.build/*
!SampleSymbolGraphProject/.build/symbol-graphs/

